

body {
    margin: 0;
    padding: 0;
    /* background-image: url('images/pexels-cottonbro-studio-4153146 (1).jpg'); */
    background-color: rgb(16, 0, 34);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    height: 800px;
    
}

header {
    background-color: rgb(2, 20, 59);
    padding: 20px;
    text-align: center;
}

.top {
    display: flex;
    align-items: center;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar {
    height: 33px;
    margin-left: 0px;
    width: 450px;
    padding: 24px;
    border-radius: 8px;
    border-style: none;
}

nav {
    text-align: center;
}

#logo {
    height: 50px;
    width: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%; /* Adjust the width as needed */
    margin: auto; /* Center the grid horizontally */
    gap: 3rem;
    margin-top: 4.3rem;
    padding-left: 16rem;
    padding-right: 1.5rem;
}

.container div {
    text-align: center; /* Center the content horizontally within each grid cell */
}

.book-property {
    width: 100%; /* Make sure each image takes up the full width of its container */
    max-width: 100%; /* Set a maximum width if needed */
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsla(0, 4%, 55%, 0.733);
    margin: 0;
    /* margin-bottom: 4.5rem; */
    cursor: pointer;
    border-radius: 1rem;
    transition: all 0.3s;
}

.book-property:hover  {
    transform: translateY(-10px);
    background-color: rgb(139, 31, 49);
    color: white;
    box-shadow: 3px 3px 5px 6px #ccc;
}



/* .sidebar {
    background-color: rgb(65, 57, 57);
    left: 0;
    top: 22.6%;
    bottom: 0;
    width: 100px; 
} */

.subheader {
    display: flex;
    color: white;
    justify-content: space-evenly;
    background-color: rgb(12, 0, 78);
    font-size: smaller;
    padding: 30px;
}

.subheader a {
    text-decoration: none;
    color: white;
}

.login-button {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.filter-bar p {
    margin-bottom: 1.5rem;

}

.filter-bar {
    display: inline-block;
    text-align: center;
}

.search-bar-div input {
    outline: none;
}

